<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="myDBconnection" connectionString="Persist Security Info=False;Integrated Security=SSPI;database=DormMangement;server=(local)"
      providerName="System.Data.SqlClient" />
    <add name="学生宿舍管理系统.Properties.Settings.DormMangementConnectionString"
      connectionString="Data Source=.;Initial Catalog=DormMangement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>